@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-orbitron), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 4 89% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 34 100% 63%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 47% 21%;
    --muted-foreground: 210 40% 88%;

    --accent: 34 100% 63%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 30% 25%;
    --input: 217 30% 25%;
    --ring: 217 91% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 4 89% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 34 100% 63%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 47% 21%;
    --muted-foreground: 210 40% 88%;

    --accent: 34 100% 63%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 30% 25%;
    --input: 217 30% 25%;
    --ring: 217 91% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
